.git
.gitignore
.husky
.vscode
.idea
*.md
.DS_Store
node_modules
.pnp
.pnp.js
.next
.turbo
dist
out
build
coverage
test-results
playwright-report
blob-report
*.tsbuildinfo
.env
.env.*
!.env.example
!.env.development
!.env.staging
!.env.production
*.log
package-lock.json
